<div style="height: 100%!important;background-color: #1A1A1B; background-size: cover">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="message-show text-left">
                <br>
                <h2><%= @message.title %></h2>
                <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> atrás</p>
                <p class="message-desc"><%= @message.description %></p>

                <div class="links btn-group">
                    <%= link_to "Voltar", root_path, class: "btn btn-secondary btn-sm" %> |
                    <% if user_signed_in? %>
                        <% if @message.user_id == current_user.id %>
                            <%= link_to "Editar", edit_message_path(@message), class: "btn btn-warning btn-sm" %> |
                            <%= link_to "Excluir", message_path(@message), data: { turbo_method: :delete, turbo_confim: "Tem certeza ?" }, class: "btn btn-danger btn-sm" %>
                        <% end %>
                    <% end %>
                </div>

                <br>

                <hr>
                <h3>Comentários:</h3>
                <%= render @message.comments %>

                <br>

                <hr>
                <h3>Entre na discussão: </h3>
                <%= render 'comments/form' %>

                <br>
            </div>
        </div>
    </div>
</div>